#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

.wrapper {
  max-width: 700px;
}

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.searchBar {
  margin: 0 0.5rem;
  padding: 0.5em;
  border-color: gray;
  border-radius: 1rem;
  flex-grow: 1;
}

.soundButtonContainer {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.verticalCheckboxWrapper {
  display: flex;
  flex-direction: column;
}

.flexRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.rangeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 1rem;
}

.slider {
  flex-grow: 1;
  margin-left: 8px;
}
