.formField {
  margin-bottom: 1em;
}

.formLabel {
  margin-bottom: 4px;
}

.formMessage {
  font-size: 0.6em;
}

.folderButtonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 140px);
  gap: 24px;
  margin-top: 24px;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 1.25rem;
  margin: 0;
}

.dialogOverlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
}

.rightAlign {
  margin-left: auto;
}
