.formField {
  margin-bottom: 1em;
}

.formLabel {
  margin-bottom: 4px;
}

.formMessage {
  font-size: 0.6em;
}

.childBackground {
  background-color: var(--inner-background);
  border-radius: 32px 0 0 32px;
  padding: 48px;
  height: calc(100% - 96px);
  color: var(--primary-foreground);
}

h1 {
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}

h2 {
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 20px;
  margin: 0;
}
