:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-foreground: #0d3d38; /* teal 12 */
  --primary-active: #008573; /* teal 11 */
  --primary-hover: #b8eae0; /* teal 5 */
  --primary-active-light: #e0f8f3; /* teal 3 */
  --primary-active-lighter: #f3fbf9; /* teal 2 */
  --elevated-background: #fafefd; /* teal 1 */
  --inner-background: #faf9f2; /* gold 2 */
  --primary-muted: #e7e7e7; /* gray 6 */
  --primary-muted-dark: #bbbbbb; /* gray 8 */
  --primary-disabled: #646464; /* gray 11 */
  --warning: #ce2c31; /* red 11 */
  --warning-hover: #e5484d; /* red 9 */
  --warning-light: #eb8e90; /* red 6 */

  --primary-font: "Instrument Sans", sans-serif;
  font-family: var(--primary-font);
  overflow: hidden;
}

::selection {
  background: var(--primary-hover);
}

a {
  color: inherit;
  text-decoration: inherit;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
  color: inherit;
}
button:hover {
  border-color: var(--primary-active);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;
  }
  a:hover {
    color: #535bf2;
  }
  button {
    background-color: #1a1a1a;
  }
} */
