.button {
  background-color: var(--primary-active-light);
  color: var(--primary-foreground);
  padding: 6px 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: fit-content;
  font-weight: 700;
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;
}
.button:hover {
  background-color: var(--elevated-background);
  color: var(--primary-active);
  border-color: var(--primary-active);
}
.button:focus,
.button:disabled {
  background-color: var(--primary-active);
  color: var(--elevated-background);
}

.soundButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
}

.soundButtonInner {
  display: flex;
  flex-direction: row;
}

.soundButton {
  padding: 16px;
  border: 4px solid transparent;
  margin: 0 auto;
}

.soundButton:hover {
  border-color: var(--primary-active);
}

.buttonEmoji {
  font-size: 2em;
  line-height: 1;

  /* text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white,
    1px 1px 0 white; */
}

.soundButtonLabel {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4px;
  font-size: 1rem;
  user-select: none;
  text-align: center;
  font-size: 0.75rem;
}

.soundButtonMenu {
  position: relative;
  transform: translate(38px, 34px);
  height: 30px;
  width: 30px;
  margin-top: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--elevated-background);
  border: 2px solid var(--primary-muted-dark);
  border-radius: 50%;
  padding: 0;
  flex-shrink: 0;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.soundButtonMenuIcon {
  width: 18px;
  height: 18px;
}

.soundButtonMenuContent {
  background-color: var(--elevated-background);
  padding: 8px;
  border: 2px solid var(--primary-muted);
  border-radius: 8px;
}

.soundButtonMenuArrow {
  fill: var(--primary-muted);
}

.soundButtonMenuItem {
  color: var(--primary-disabled);
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  margin: 4px;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 8px;
  outline: none;
  transition: all 0.2s ease-in-out;
}

.soundButtonMenuItem[data-highlighted] {
  border-color: var(--primary-active);
}

.soundButtonMenuItemDanger {
  color: var(--warning);
}

.soundButtonMenuItemDanger[data-highlighted] {
  border-color: var(--warning);
}

.soundButtonMenuItemIcon {
  height: 1rem;
  width: 1rem;
  margin-right: 8px;
}

.iconButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}
.iconButtonWrapper:hover {
  color: var(--primary-hover);
}
.iconButtonWrapper:focus {
  outline: 0;
}

.iconButtonWrapper:hover .iconButton {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--primary-hover);
}

.iconButtonWrapper:disabled {
  cursor: not-allowed;
}

.iconButtonWrapper:disabled .iconButton {
  background-color: var(--primary-muted);
  color: var(--primary-disabled);
  border-color: var(--primary-muted);
  cursor: not-allowed;
}

.iconButton {
  width: 48px;
  height: 48px;
  background-color: var(--primary-foreground);
  color: var(--inner-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.iconButtonSelected,
.iconButtonWrapper:hover .iconButtonSelected {
  background-color: var(--inner-background);
  color: var(--primary-foreground);
}

.innerIcon {
  width: 32px;
  height: 32px;
}

.iconButtonLabel {
  margin-top: 4px;
  font-weight: 700;
  font-size: 0.75rem;
}

.iconButtonSelected + .iconButtonLabel {
  color: var(--inner-background);
}
