.button {
  background-color: var(--primary-active-light);
  color: var(--primary-foreground);
  padding: 8px 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
  height: fit-content;
  font-weight: 700;
  border: 1px solid transparent;
  transition: all 0.2s ease-in-out;
}

.button:hover {
  background-color: var(--primary-active-lighter);
  color: var(--primary-active);
  border-color: var(--primary-active);
}

.button:focus {
  background-color: var(--primary-active);
  color: var(--elevated-background);
}

.soundButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-bottom: 1rem;
}

.soundButton {
  padding: 16px;
  border: 4px solid transparent;
  margin: 0 auto;
}

.soundButton:hover {
  border-color: var(--primary-active);
}

.buttonEmoji {
  font-size: 2em;
  line-height: 1;
}

.soundButtonLabel {
  display: block;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-top: 4px;
  font-size: 1rem;
  user-select: none;
  text-align: center;
  font-size: 0.75rem;
}

.iconButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: transparent;
  border: 0;
  padding: 0;
  transition: all 0.2s ease-in-out;
}

.iconButtonWrapper:hover {
  color: var(--primary-hover);
}

.iconButtonWrapper:hover .iconButton {
  background-color: rgba(255, 255, 255, 0.3);
  color: var(--primary-hover);
}

.iconButton {
  width: 48px;
  height: 48px;
  background-color: var(--primary-foreground);
  color: var(--inner-background);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.iconButtonSelected,
.iconButtonWrapper:hover .iconButtonSelected {
  background-color: var(--inner-background);
  color: var(--primary-foreground);
}

.innerIcon {
  width: 32px;
  height: 32px;
}

.iconButtonLabel {
  margin-top: 4px;
  font-weight: 700;
  font-size: 0.75rem;
}

.iconButtonSelected + .iconButtonLabel {
  color: var(--inner-background);
}
