.soundButtonWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.soundButton {
  padding: 0;
  border: 4px solid transparent;
  margin: auto;
  outline: 0;
}
.soundButton:hover {
  border-color: var(--primary-active);
}
.soundButton:focus {
  outline: 0;
  box-shadow: 0 0 0 3px var(--primary-hover);
}

.buttonEmoji {
  font-size: 1.75rem;
  padding: 10px;
  line-height: 1;
}

.soundButtonLabel {
  display: block;
  margin-top: 4px;
  font-size: 0.75rem;
  user-select: none;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.iconButton {
  font-size: large;
  height: 1.5em;
  width: 1.5em;
  padding: 0;
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
