.soundGroupTitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  padding-top: 24px;
  margin-bottom: 16px;
}

.soundGroupIcon {
  color: var(--primary-active);
}

.soundGroupButtonContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 72px);
  gap: 32px;
}

.soundGroupBack {
  display: flex;
  align-items: center;
  background-color: var(--primary-muted);
  border-radius: 50%;
  margin-right: 20px;
  border: 1px solid transparent;
  transition: border-color 0.2s ease-in-out;
}

.soundGroupBackIcon {
  width: 16px;
  height: 16px;
  padding: 4px;
}

.folderViewMenu {
  height: 26px;
  width: 26px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--elevated-background);
  color: var(--primary-foreground);
  border: 1px solid var(--primary-muted-dark);
  border-radius: 50%;
  padding: 0;
  outline: none;
  transition: border-color 0.2s ease-in-out;
  margin-left: 20px;
}

.folderViewMenu:hover,
.soundGroupBack:hover {
  border-color: var(--primary-active);
}
