DEVISE_JWT_SECRET_KEY=

# For Local Dev DB Connection
DATABASE_NAME=
DATABASE_HOST=
DATABASE_PORT=
DATABASE_USERNAME=
DATABASE_PASSWORD=
TEST_DATABASE_NAME=

# For google sign on (not currently implemented)
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
FRONTEND_URL=http://localhost:3000
